<div class="btnSection darkSection plotticotrack_panel" id="plotticotrack_full_panel">
        <div class="plottico_panel_inside">
            <span style="margin-right: 20px">Plotti.co Tracker <span class="blink" id="pt_recording"></span></span>
          <span id="pt_selectaction">
          <button id="pt_blueline" class="minimal" title="Click this button, then click on the number on the page">Select <span class="pl_src0">blue</span> line</button>
          <button id="pt_redline" class="minimal" title="Click this button, then click on the number on the page" >Select <span class="pl_src1">red</span> line</button>
          <button id="pt_yellowline" class="minimal" title="Click this button, then click on the number on the page" >Select <span class="pl_src2">yellow</span> line</button>
          <button id="pt_startupd" class="cupid-green" disabled="true" title="Please select values to track, then press start">Start updating</button>
          </span>
          
        </div>
</div>

<div class="btnSection darkSection plotticotrack_panel plotticotrack_message" id="plotticotrack_message" style="visibility: hidden">
    <span>Now click precisely on the middle of the number to track</span>
</div>

<div class="btnSection darkSection plotticotrack_panel plotticotrack_message" id="plotticotrack_work" style="visibility: hidden">
    <span>Plotti.co is now tracking this page. </span> <span id="pt_working"></span>
</div>

<div class="btnSection darkSection plotticotrack_panel plotticotrack_message" id="plotticotrack_unsupported" style="visibility: hidden">
    <span>Tracking of this page is not supported yet. </span> <span id="pt_working"></span>
</div>