/****************************
*
*   _-=/| ANIMATED 3D CSS3 BUTTON PACK |\=-_ 
*
* by: Bryan McAnulty
* Available on: Themeforest
*
* Copyright 2012, Bryan McAnulty
*
*
****************************/


/***------ @RESET AND BASE STYLES------***/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}
a img {
    border: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
body {
    font-family: 'Helvetica', arial, sans-serif;
    font-size: 14px;
    color: #333333;
}

/***------ @INTERFACE FRAME------***/


.buttonBox{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #DDD;
    -webkit-box-shadow: inset 0px -1px 27px #666;
    -moz-box-shadow: inset 0px -1px 27px #666;
    box-shadow: inset 0px -1px 27px #666;
    background: -moz-radial-gradient(center center, circle closest-side, #e8e8e8 0%, #b2b2b2 100%);
    background: -webkit-gradient(radial, center center, 400, center center, 0, from(#b2b2b2), to(#e8e8e8));
    overflow: auto;
    padding: 20px;
    z-index:-2;
}
.btnSection{
    border-bottom: 1px solid #999;
    width: 800px;
    margin: 0 auto;
}
.btnSection p{
    position: relative;
    top: -20px;
    color: #555;
}
.btnSection span{
    width: 148px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 10px;
}
.btnSection h2{
    font-size: 26px;
    font-weight: bold;
    line-height: 40px;
    margin: 15px 0 20px;
}
.darkSection{
    color: #DDD;
    background: #444;
}
.lightSection{
    background: rgba(255,255,255,0.4);
    padding: 1px 20px 0;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    -webkit-box-shadow: 0px 4px 10px #aaa;
    -moz-box-shadow: 0px 4px 10px #aaa;
    box-shadow: 0px 4px 10px #aaa;
    text-shadow: 0 1px 0 #f4f4f4;
    border: 1px solid #ddd;
    border-bottom: 1px solid #999;
    margin-top: 20px;
}
#grab-line{
	font-size: 36px;
	position: relative;
	text-align: center;
	font-weight: 600;
	color: #444;
	text-shadow: 0 -1px 0 #ddd;
    margin: 20px 0 30px 0;
}

/***------ @ANIMATED BUTTONS ------***/

.btn-animate{
    background: #151515;
    border: 1px solid #2c363c;
    border-top: 1px solid #3e4f5a;
    border-bottom: 1px solid #0d1f29;
    padding: 6px 12px 6px 17px;
    margin: 20px 25px 20px 0px;
    font-size: 14px !important;
    font-weight: 600;
    color: #c1ccd3;
    line-height: 16px;
    height: 16px;
    display: inline-block;
    -webkit-box-shadow:
    0px 1px 3px #000,
    inset 1px 0 0 #000,
    inset -1px 0 0 #000,
    inset 7px 0 2px #020a0f,
    inset -1px 0 0 #020a0f,
    inset 0px 9px 4px #020a0f,
    inset 0px -9px 4px #020a0f,
    inset 9px 0 3px #42adff,
    inset 10px 0 3px #0075cf;
    -moz-box-shadow:
    0px 1px 3px #000,
    inset 1px 0 0 #000,
    inset -1px 0 0 #000,
    inset 7px 0 2px #020a0f,
    inset -1px 0 0 #020a0f,
    inset 0px 9px 4px #020a0f,
    inset 0px -9px 4px #020a0f,
    inset 9px 0 3px #42adff,
    inset 10px 0 3px #0075cf;
    box-shadow:
    0px 1px 3px #000,
    inset 1px 0 0 #000,
    inset -1px 0 0 #000,
    inset 7px 0 2px #020a0f,
    inset -1px 0 0 #020a0f,
    inset 0px 9px 4px #020a0f,
    inset 0px -9px 4px #020a0f,
    inset 9px 0 3px #42adff,
    inset 10px 0 3px #0075cf;
    transition: all 0.3s linear;
     -webkit-border-radius: 5px;
     -moz-border-radius:5px;
    border-radius: 5px;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    cursor: pointer;
}
.btn-animate:hover{
    color: #e8f6ff;
    -webkit-box-shadow: 0px 1px 4px #111;
    -moz-box-shadow: 0px 1px 4px #111;
    box-shadow: 0px 1px 7px #0075cf;
    border: 1px solid #42adff;
    border-left: 1px solid #4892cb;
    border-right: 1px solid #4892cb;
    padding: 6px 12px 6px 12px;
}

/***------ @PILL BUTTONS ------***/

.pill-btn {
    padding:10px 25px;
    margin: 20px 30px 20px 0px;
    position:relative;
    font-size:14px;
    font-weight: bold;
    text-decoration:none;
    display: inline-block;
    color:#fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    border: solid 1px #666;
    border-top: solid 1px #555;
    border-bottom: solid 1px #555;
    -moz-box-shadow: inset 0 1px 0 0px rgba(255,255,255,0.3), inset 0 -1px 0 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 0 0px rgba(255,255,255,0.3), inset 0 -1px 0 1px rgba(0,0,0,0.1);
    -o-box-shadow: inset 0 1px 0 0px rgba(255,255,255,0.3), inset 0 -1px 0 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 0 0px rgba(255,255,255,0.3), inset 0 -1px 0 1px rgba(0,0,0,0.1);
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
    background: #1893e6;
    background: -moz-linear-gradient(top, #1893e6, #005b99);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1893e6), to(#005b99));
}
.pill-btn:hover {
    background-color: #007acb;
    background: -moz-linear-gradient(top, #00acff, #007acb);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00acff), to(#007acb));
}
.pill-btn:active {
    background: #005b99;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -o-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}
.pill-btn:before {
    background: -moz-radial-gradient(none);
    background: -webkit-gradient(none);
    background: rgba(255,255,255,0.2) !important;
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    padding:8px;
    left:-8px;
    top:-9px;
    z-index:-1;
    -moz-box-shadow: inset 0px 1px 1px #999, 0px 1px 0px #fff;
    -webkit-box-shadow: inset 0px 1px 1px #999, 0px 1px 0px #fff;
    -o-box-shadow: inset 0px 1px 1px #999, 0px 1px 0px #fff;
    box-shadow: inset 0px 1px 1px #999, 0px 1px 0px #fff;
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    border-radius: 29px;
    z-index: -1;
}

/***------ @SPLIT BUTTONS ------***/

.split-btn {
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    text-decoration :none;
    color: #fff;
    position:relative;
    padding:10px 20px 9px;
    margin: 20px 10px;
    height:15px;
    display: inline-block;
    text-align: center;
    margin-left: 35px;
    background-color: #0080c7;
    background: -moz-linear-gradient(top, #0092d9, #006ab0);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0092d9), to(#006ab0));
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #00548c, 0px 8px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #00548c, 0px 8px 5px #999;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #00548c, 0px 8px 5px #999;
    cursor: pointer;
    transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
.split-btn:hover {
    text-shadow: 0 1px 1px #222, 0 0 40px rgba(255,255,255,1),0 0 40px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1);
    transition: none;
    -o-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}
.split-btn:active {
    top:3px;
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #00548c, 0px 4px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #00548c, 0px 4px 3px #999;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #00548c, 0px 4px 3px #999;
}
.split-btn img {
    height: 14px;
    width: 16px;
    max-height:26px;
    line-height:20px;
    position:absolute;
    top:0px;
    left:-37px;
    display:block;
    padding:10px 10px;
    font-size:14px;
    font-weight:bold;
    color: rgba(255,255,255,0.6);
    text-shadow:1px 1px 0px #07526e;
    border-right:solid 1px rgba(0,0,0,0.2);
    border-bottom: none;
    background-color: #0080c7;
    background: -moz-linear-gradient(top, #006ab0, #005f8d);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#006ab0), to(#005f8d));
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #004566, 0px 8px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #004566, 0px 8px 5px #999;
    box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #004566, 0px 8px 5px #999;
}
.split-btn:hover img {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
}
.split-btn:active img {
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #004566, 0px 4px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #004566, 0px 4px 3px #999;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #004566, 0px 4px 3px #999;
}

/***------ @ICON BUTTONS ------***/

.icon-btn {
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    text-decoration :none;
    color: #fff;
    position:relative;
    padding:10px 20px 9px 55px;
    margin: 20px 8px 20px 0;
    display: inline-block;
    text-align: center;
    border-left: solid 1px rgba(255,255,255,0.1);
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.6);
    background-color: #0080c7;
    background: -moz-linear-gradient(top, #0092d9, #006ab0);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0092d9), to(#006ab0));
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 4px #888;
    -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 4px #888;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 4px #888;
    cursor: pointer;
}
 
.icon-btn:active {
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.6);
    box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
.icon-btn img {
    position:absolute;
    top:0px;
    left:0px;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter:alpha(opacity=7);
    display:block;
    padding:8px 10px 11px;
    font-size:14px;
    font-weight:bold;
    color: rgba(255,255,255,0.6);
    text-shadow:1px 1px 0px #07526e;
    border-right:solid 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset -1px 0px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset -1px 0px 0px rgba(255,255,255,0.2);
    box-shadow: inset -1px 0px 0px rgba(255,255,255,0.2);
    transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
.icon-btn:hover img {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
    background: rgba(0,0,0,0.2);
}

/***------ @ICON BUTTONS ------***/

.icon-slide-btn {
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    text-decoration :none;
    color: #fff;
    position:relative;
    padding:10px 20px 9px 20px;
    margin: 20px 25px 20px 0;
    display: inline-block;
    text-align: center;
    border-left: solid 1px rgba(255,255,255,0.1);
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.6);
    background-color: #0080c7;
    background: -moz-linear-gradient(top, #0092d9, #006ab0);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0092d9), to(#006ab0));
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 4px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 4px rgba(0,0,0,0.6);
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 4px rgba(0,0,0,0.6);
    cursor: pointer;
    transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
.icon-slide-btn:hover{
    padding:10px 20px 9px 55px;
} 
.icon-slide-btn:active {
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.6);
    box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
        transition: none;
    -o-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    border: 1px solid rgba(0,0,0,0.5);
}
.icon-slide-btn img {
    position:absolute;
    top:0px;
    left:0px;
    opacity: 0.0;
    -moz-opacity: 0.0;
    filter:alpha(opacity=0);
    display:block;
    padding:8px 10px 11px;
    font-size:14px;
    font-weight:bold;
    color: rgba(255,255,255,0.6);
    text-shadow:1px 1px 0px #07526e;
    border-right:solid 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset -1px 0px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset -1px 0px 0px rgba(255,255,255,0.2);
    box-shadow: inset -1px 0px 0px rgba(255,255,255,0.2);
    transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
.icon-slide-btn:hover img {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
    background: rgba(0,0,0,0.2);
}

/***------ @COLORS ------***/


.ani-pink{
    background: #151515;
    border: 1px solid #3c2c37;
    border-top: 1px solid #5a3e52;
    border-bottom: 1px solid #290d21;
    color: #d3c1ce;
    display: inline-block;
    -webkit-box-shadow:
    0px 1px 3px #000,
    inset 1px 0 0 #000,
    inset -1px 0 0 #000,
    inset 7px 0 2px #0f020b,
    inset -1px 0 0 #0f020b,
    inset 0px 9px 4px #0f020b,
    inset 0px -9px 4px #0f020b,
    inset 9px 0 3px #ff42c6,
    inset 10px 0 3px #cf0092;
    -moz-box-shadow:
    0px 1px 3px #000,
    inset 1px 0 0 #000,
    inset -1px 0 0 #000,
    inset 7px 0 2px #0f020b,
    inset -1px 0 0 #0f020b,
    inset 0px 9px 4px #0f020b,
    inset 0px -9px 4px #0f020b,
    inset 9px 0 3px #ff42c6,
    inset 10px 0 3px #cf0092;
    box-shadow:
    0px 1px 3px #000,
    inset 1px 0 0 #000,
    inset -1px 0 0 #000,
    inset 7px 0 2px #0f020b,
    inset -1px 0 0 #0f020b,
    inset 0px 9px 4px #0f020b,
    inset 0px -9px 4px #0f020b,
    inset 9px 0 3px #ff42c6,
    inset 10px 0 3px #cf0092;
}
.ani-pink:hover{
    color: #ffe8f8;
    box-shadow: 0px 1px 7px #cf0092;
    border: 1px solid #ff42c6;
    border-left: 1px solid #cb48a4;
    border-right: 1px solid #cb48a4;
}
.ani-orange{
    background: #151515;
    border: 1px solid #3c322c;
    border-top: 1px solid #5a493e;
    border-bottom: 1px solid #29180d;
    color: #d3c8c1;
    display: inline-block;
    -webkit-box-shadow:
    0px 1px 3px #000,
    inset 1px 0 0 #000,
    inset -1px 0 0 #000,
    inset 7px 0 2px #0f0702,
    inset -1px 0 0 #0f0702,
    inset 0px 9px 4px #0f0702,
    inset 0px -9px 4px #0f0702,
    inset 9px 0 3px #ff8e42,
    inset 10px 0 3px #cf5300;
    -moz-box-shadow:
    0px 1px 3px #000,
    inset 1px 0 0 #000,
    inset -1px 0 0 #000,
    inset 7px 0 2px #0f0702,
    inset -1px 0 0 #0f0702,
    inset 0px 9px 4px #0f0702,
    inset 0px -9px 4px #0f0702,
    inset 9px 0 3px #ff8e42,
    inset 10px 0 3px #cf5300;
    box-shadow:
    0px 1px 3px #000,
    inset 1px 0 0 #000,
    inset -1px 0 0 #000,
    inset 7px 0 2px #0f0702,
    inset -1px 0 0 #0f0702,
    inset 0px 9px 4px #0f0702,
    inset 0px -9px 4px #0f0702,
    inset 9px 0 3px #ff8e42,
    inset 10px 0 3px #cf5300;
}
.ani-orange:hover{
    color: #fff1e8;
    box-shadow: 0px 1px 7px #cf5300;
    border: 1px solid #ff8e42;
    border-left: 1px solid #cb7c48;
    border-right: 1px solid #cb7c48;
}
.ani-yellow{
    background: #151515;
    border: 1px solid #3c382c;
    border-top: 1px solid #5a493e;
    border-bottom: 1px solid #29220d;
    color: #d3cfc1;
    display: inline-block;
    -webkit-box-shadow:
    0px 1px 3px #000,
    inset 1px 0 0 #000,
    inset -1px 0 0 #000,
    inset 7px 0 2px #0f0c02,
    inset -1px 0 0 #0f0c02,
    inset 0px 9px 4px #0f0c02,
    inset 0px -9px 4px #0f0c02,
    inset 9px 0 3px #ffd342,
    inset 10px 0 3px #cf9e00;
    -moz-box-shadow:
    0px 1px 3px #000,
    inset 1px 0 0 #000,
    inset -1px 0 0 #000,
    inset 7px 0 2px #0f0c02,
    inset -1px 0 0 #0f0c02,
    inset 0px 9px 4px #0f0c02,
    inset 0px -9px 4px #0f0c02,
    inset 9px 0 3px #ffd342,
    inset 10px 0 3px #cf9e00;
    box-shadow:
    0px 1px 3px #000,
    inset 1px 0 0 #000,
    inset -1px 0 0 #000,
    inset 7px 0 2px #0f0c02,
    inset -1px 0 0 #0f0c02,
    inset 0px 9px 4px #0f0c02,
    inset 0px -9px 4px #0f0c02,
    inset 9px 0 3px #ffd342,
    inset 10px 0 3px #cf9e00;
}
.ani-yellow:hover{
    color: #fffae8;
    box-shadow: 0px 1px 7px #cf9e00;
    border: 1px solid #ffd342;
    border-left: 1px solid #cbac48;
    border-right: 1px solid #cbac48;
}
.ani-green{
    background: #151515;
    border: 1px solid #2c3c30;
    border-top: 1px solid #3e5a45;
    border-bottom: 1px solid #0d2914;
    color: #c1d3c5;
    display: inline-block;
    -webkit-box-shadow:
    0px 1px 3px #000,
    inset 1px 0 0 #000,
    inset -1px 0 0 #000,
    inset 7px 0 2px #020f05,
    inset -1px 0 0 #020f05,
    inset 0px 9px 4px #020f05,
    inset 0px -9px 4px #020f05,
    inset 9px 0 3px #42ff71,
    inset 10px 0 3px #00cf34;
    -moz-box-shadow:
    0px 1px 3px #000,
    inset 1px 0 0 #000,
    inset -1px 0 0 #000,
    inset 7px 0 2px #020f05,
    inset -1px 0 0 #020f05,
    inset 0px 9px 4px #020f05,
    inset 0px -9px 4px #020f05,
    inset 9px 0 3px #42ff71,
    inset 10px 0 3px #00cf34;
    box-shadow:
    0px 1px 3px #000,
    inset 1px 0 0 #000,
    inset -1px 0 0 #000,
    inset 7px 0 2px #020f05,
    inset -1px 0 0 #020f05,
    inset 0px 9px 4px #020f05,
    inset 0px -9px 4px #020f05,
    inset 9px 0 3px #42ff71,
    inset 10px 0 3px #00cf34;
}
.ani-green:hover{
    color: #e8ffee;
    box-shadow: 0px 1px 7px #00cf34;
    border: 1px solid #42ff71;
    border-left: 1px solid #48cb69;
    border-right: 1px solid #48cb69;
}
.btn-animate:active{
    color: #fff;
    -webkit-box-shadow: 0px 1px 4px #fff;
    -moz-box-shadow: 0px 1px 4px #fff;
    box-shadow: 0px 1px 4px #fff;
    border: 1px solid #eee;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.p-pink {
    background: #e618a8;
    background: -moz-linear-gradient(top, #e618a8, #99006b);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e618a8), to(#99006b));
}
.p-pink:hover {
    background-color: #cb008e;
    background: -moz-linear-gradient(top, #ff00b2, #cb008e);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff00b2), to(#cb008e));
}
.p-pink:active {
    background: #99006b;
}
.p-orange {
    background: #e66a18;
    background: -moz-linear-gradient(top, #e66a18, #993d00);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e66a18), to(#993d00));
}
.p-orange:hover {
    background-color: #cb5100;
    background: -moz-linear-gradient(top, #ff6600, #cb5100);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff6600), to(#cb5100));
}
.p-orange:active {
    background: #993d00;
}
.p-green {
    background: #6bcd15;
    background: -moz-linear-gradient(top, #6bcd15, #3b8000);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6bcd15), to(#3b8000));
}
.p-green:hover {
    background-color: #54b200;
    background: -moz-linear-gradient(top, #6be500, #54b200);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6be500), to(#54b200));
}
.p-green:active {
    background: #3b8000;
}
.p-yellow {
    background: #e6b618;
    background: -moz-linear-gradient(top, #e6b618, #997500);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6b618), to(#997500));
}
.p-yellow:hover {
    background-color: #cb9c00;
    background: -moz-linear-gradient(top, #ffc400, #cb9c00);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffc400), to(#cb9c00));
}
.p-yellow:active {
    background: #997500;
}
.sp-pink {
    background-color: #c7008b;
    background: -moz-linear-gradient(top, #d90098, #b0007b);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d90098), to(#b0007b));
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #8c0062, 0px 8px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #8c0062, 0px 8px 5px #999;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #8c0062, 0px 8px 5px #999;
}
.sp-pink:active {
    -webkit-box-shadow: inset 0px 1px 0px #ec2ab2, 0px 2px 0px 0px #8c0062, 0px 4px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px #ec2ab2, 0px 2px 0px 0px #8c0062, 0px 4px 3px #999;
    box-shadow: inset 0px 1px 0px #ec2ab2, 0px 2px 0px 0px #8c0062, 0px 4px 3px #999;
}
.sp-pink img {
    text-shadow:1px 1px 0px #6e074f;
    background-color: #c7008b;
    background: -moz-linear-gradient(top, #b0007b, #8d0063);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b0007b), to(#8d0063));
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #660047, 0px 8px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #660047, 0px 8px 5px #999;
    box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #660047, 0px 8px 5px #999;
}
.sp-pink:active img {
    -webkit-box-shadow: inset 0px 1px 0px #ec2ab2, 0px 2px 0px 0px #660047, 0px 4px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px #ec2ab2, 0px 2px 0px 0px #660047, 0px 4px 3px #999;
    box-shadow: inset 0px 1px 0px #ec2ab2, 0px 2px 0px 0px #660047, 0px 4px 3px #999;
}
.sp-orange {
    background-color: #c75000;
    background: -moz-linear-gradient(top, #d95700, #b04600);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d95700), to(#b04600));
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #8c3800, 0px 8px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #8c3800, 0px 8px 5px #999;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #8c3800, 0px 8px 5px #999;
}
.sp-orange:active {
    -webkit-box-shadow: inset 0px 1px 0px #ec782a, 0px 2px 0px 0px #8c3800, 0px 4px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px #ec782a, 0px 2px 0px 0px #8c3800, 0px 4px 3px #999;
    box-shadow: inset 0px 1px 0px #ec782a, 0px 2px 0px 0px #8c3800, 0px 4px 3px #999;
}
.sp-orange img {
    text-shadow:1px 1px 0px #6e3007;
    background-color: #c75000;
    background: -moz-linear-gradient(top, #b04600, #8d3800);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b04600), to(#8d3800));
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #662900, 0px 8px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #662900, 0px 8px 5px #999;
    box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #662900, 0px 8px 5px #999;
}
.sp-orange:active img {
    -webkit-box-shadow: inset 0px 1px 0px #ec782a, 0px 2px 0px 0px #662900, 0px 4px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px #ec782a, 0px 2px 0px 0px #662900, 0px 4px 3px #999;
    box-shadow: inset 0px 1px 0px #ec782a, 0px 2px 0px 0px #662900, 0px 4px 3px #999;
}
.sp-yellow {
    background-color: #c79900;
    background: -moz-linear-gradient(top, #d9a600, #b08700);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d9a600), to(#b08700));
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #8c6b00, 0px 8px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #8c6b00, 0px 8px 5px #999;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #8c6b00, 0px 8px 5px #999;
}
.sp-yellow:active {
    -webkit-box-shadow: inset 0px 1px 0px #ecbf2a, 0px 2px 0px 0px #8c6b00, 0px 4px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px #ecbf2a, 0px 2px 0px 0px #8c6b00, 0px 4px 3px #999;
    box-shadow: inset 0px 1px 0px #ecbf2a, 0px 2px 0px 0px #8c6b00, 0px 4px 3px #999;
}
.sp-yellow img {
    text-shadow:1px 1px 0px #6e5607;
    background-color: #c79900;
    background: -moz-linear-gradient(top, #b08700, #8d6c00);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b08700), to(#8d6c00));
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #664e00, 0px 8px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #664e00, 0px 8px 5px #999;
    box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #664e00, 0px 8px 5px #999;
}
.sp-yellow:active img {
    -webkit-box-shadow: inset 0px 1px 0px #ecbf2a, 0px 2px 0px 0px #664e00, 0px 4px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px #ecbf2a, 0px 2px 0px 0px #664e00, 0px 4px 3px #999;
    box-shadow: inset 0px 1px 0px #ecbf2a, 0px 2px 0px 0px #664e00, 0px 4px 3px #999;
}
.sp-green {
    background-color: #5cc700;
    background: -moz-linear-gradient(top, #65d900, #52b000);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#65d900), to(#52b000));
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #418c00, 0px 8px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #418c00, 0px 8px 5px #999;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #418c00, 0px 8px 5px #999;
}
.sp-green:active {
    -webkit-box-shadow: inset 0px 1px 0px #85ec2a, 0px 2px 0px 0px #418c00, 0px 4px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px #85ec2a, 0px 2px 0px 0px #418c00, 0px 4px 3px #999;
    box-shadow: inset 0px 1px 0px #85ec2a, 0px 2px 0px 0px #418c00, 0px 4px 3px #999;
}
.sp-green img {
    text-shadow:1px 1px 0px #376e07;
    background-color: #5cc700;
    background: -moz-linear-gradient(top, #52b000, #428d00);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52b000), to(#428d00));
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #306600, 0px 8px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #306600, 0px 8px 5px #999;
    box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0px 4px 0px 0px #306600, 0px 8px 5px #999;
}
.sp-green:active img {
    -webkit-box-shadow: inset 0px 1px 0px #85ec2a, 0px 2px 0px 0px #306600, 0px 4px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px #85ec2a, 0px 2px 0px 0px #306600, 0px 4px 3px #999;
    box-shadow: inset 0px 1px 0px #85ec2a, 0px 2px 0px 0px #306600, 0px 4px 3px #999;
}
.icon-pink {
    background-color: #c7008b;
    background: -moz-linear-gradient(top, #d90098, #b0007b);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d90098), to(#b0007b));
}
.icon-orange {
    background-color: #c75000;
    background: -moz-linear-gradient(top, #d95700, #b04600);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d95700), to(#b04600));
}
.icon-yellow {
    background-color: #c79900;
    background: -moz-linear-gradient(top, #d9a600, #b08700);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d9a600), to(#b08700));
}
.icon-green {
    background-color: #5cc700;
    background: -moz-linear-gradient(top, #65d900, #52b000);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#65d900), to(#52b000));
}

/*
  panel code
*/

.plotticotrack_panel {
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    position: fixed!important;
    top: -74px;
    left: 0px;
    width: 100%;
    /*height: 50px;*/
    padding-left: 30px;
    z-index: 999999999;
} 

.panel-text {
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    text-decoration: none;
    color: black;
}